
Chirper.suo
/Chirper.5.1.ReSharper.user
/Chirper/Chirper.csproj.user
/_ReSharper.Chirper/
/_UpgradeReport_Files/
/UpgradeLog.XML
/Metrics.typemock.Chirper.suo
/DesignTimeResolveAssemblyReferencesInput.cache