@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
    
    <strong>
        @Html.Encode(Model.Message ?? "Unknown error")
    </strong>
    @Html.Encode(Model.Details ?? string.Empty)
</body>
</html>