@model IEnumerable<JavaGeneration.Chirper.Models.Following>

@{
    ViewBag.Title = "Following";
}

<h2>Following</h2>
Here are the people I am following

<table>
    <tr>
        <th>User</th>
        <th>Name</th>
        <th>Bio</th>
        <th>Since</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.User.Name, "UserLine", new { id = item.User.Name })
            </td>
            <td>
                @Html.Encode(item.User.DisplayName)
            </td>
            <td>
                @Html.Encode(item.User.Bio)
            </td>
            <td>
                @Html.Encode(string.Format("{0:g}", item.Since))
            </td>
        </tr>
    }
</table>